<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active">监控</li>
        <li class="active">查看数据更新记录</li>
    </ol>
</div>
<div class="col-md-12">
    <div style="margin:20px">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script>
    $(function () {
        $.jgrid.defaults.width = $("#jqGrid").parent().width();
        $("#jqGrid").jqGrid({
            url: '${ctxPath}/myswitch/mangerRest/getSwitchValueChangeList',
            mtype: "POST",
            styleUI: 'Bootstrap',
            datatype: "jsonp",
            colModel: [
                {
                    label: 'IP', name: 'ip', sortable: false
                },
                {
                    label: '字段名', name: 'fieldName', sortable: false
                },
                {
                    label: '字段值', name: 'val', sortable: false
                },
                {label: '操作时间', name: 'createDt', sortable: false},
                {label: '操作人', name: 'createBy', sortable: false},
                {label: '回调时间', name: 'callbackDT', sortable: false},
                {label: '成功失败', name: 'syncResult', formatter: function (cellvalue, options, rowObject) {
                    return cellvalue?"<span class='text-success'>成功</span>":"<span class='text-danger'>失败</span>";
                }, sortable: false}
            ],
            viewrecords: true,
            height: "auto",
            rowNum: 20,
            rownumbers: true,
            autowidth: true,
            shrinkToFit: true,
            pager: "#jqGridPager"
        });

        $("#jqGrid").closest(".ui-jqgrid-bdiv").css({'overflow-x': 'hidden'});

        $(window).resize(function () {          //当浏览器大小变化时
            $("#jqGrid").setGridWidth($("ol.breadcrumb").width());
        });
    });
</script>
