<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active">监控</li>
        <li class="active">查看数据更新记录</li>
    </ol>
</div>
<div class="col-md-12">
    <div style="margin: 20px;">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="appIdInput">应用</label>
                <select class="form-control" name="appIdInput" id="appIdInput">
                    <option value="">全部</option>
                    #foreach($app in $!appDOList)
                        <option value="$app.appId">$app.appName</option>
                    #end
                </select>
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <label for="ipInput">IP</label>
                <input type="text" class="form-control" id="ipInput"
                       name="ipInput">
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <label for="fieldNameInput">字段名</label>
                <input type="text" class="form-control" id="fieldNameInput"
                       name="fieldNameInput">
            </div>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-default" id="switchDataChangeViewSearchBtn">查询</button>
        </form>
    </div>
    <div style="margin:20px">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    更新概况
                </h4>
            </div>
            <div class="modal-body" id="myModalBody" style="word-break:break-all; word-wrap:break-all;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    $(function () {
        $.jgrid.defaults.width = $("#jqGrid").parent().width();
        $("#jqGrid").jqGrid({
            url: '${ctxPath}/myswitch/mangerRest/getSwitchValueChangeList',
            mtype: "POST",
            styleUI: 'Bootstrap',
            datatype: "jsonp",
            colModel: [
                {
                    label: 'IP', name: 'ip', sortable: false
                },
                {
                    label: '字段名', name: 'fieldName', sortable: false
                },
                {
                    label: '字段值', name: 'val', sortable: false
                },
                {label: '操作时间', name: 'createDt', sortable: false},
                {label: '操作人', name: 'createBy', sortable: false},
                {label: '回调时间', name: 'callbackDT', sortable: false},
                {
                    label: '成功失败', name: 'syncResult', formatter: function (cellvalue, options, rowObject) {
                    return cellvalue ? "<span class='text-success'>成功</span>" : "<span class='text-danger'>失败" + (rowObject.errorCode != undefined ? rowObject.errorCode : "") + "</span>";
                }, sortable: false
                },
                {
                    label: '操作', name: 'optId', align: "center", formatter: function (cellvalue, options, rowObject) {
                    return " <button type='button' class='btn btn-xs btn-success btn-detail' " +
                            "data-ip='" + rowObject.ip + "' " +
                            "data-fieldName='" + rowObject.fieldName + "' " +
                            "data-optId='" + rowObject.optId + "' " +
                            ">概况</button>"
                            ;
                }, sortable: false
                }
            ],
            viewrecords: true,
            height: "auto",
            rowNum: 20,
            rownumbers: true,
            autowidth: true,
            shrinkToFit: true,
            pager: "#jqGridPager"
        });

        $("#jqGrid").closest(".ui-jqgrid-bdiv").css({'overflow-x': 'hidden'});

        $(window).resize(function () {          //当浏览器大小变化时
            $("#jqGrid").setGridWidth($("ol.breadcrumb").width());
        });

        //概况事件
        $("#jqGrid").delegate(".btn-detail", "click", function () {
            var optId = $(this).attr("data-optId");
            var fieldName = $(this).attr("data-fieldName");
            var ip = $(this).attr("data-ip");
            $.post("${ctxPath}/myswitch/mangerRest/getSwitchValueChange", {
                "optId": optId,
                "fieldName": fieldName,
                "ip": ip
            }, function (data) {
                if (data == undefined || data == null) {
                    return;
                }

                if (data.errorCode === undefined) {
                    data.errorCode = undefined;
                }

                $('#myModalBody').html(_.template($('#tpl').html())(data));
                $("#myModal").modal("show");
            }, "json");
        });

        //搜索事件
        $("#switchDataChangeViewSearchBtn").on("click", function () {
            var appIdInputValue = $("#appIdInput").val();
            var fieldNameInputValue = $("#fieldNameInput").val();
            var ipInputValue = $("#ipInput").val();
            $("#jqGrid").jqGrid('setGridParam', {
                postData: {'appId': appIdInputValue, "fieldName": fieldNameInputValue, "ip": ipInputValue}, //发送数据
                page: 1
            }).trigger("reloadGrid"); //重新载入
        });
    });
</script>
<script type="text/template" id="tpl">
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">操作ID</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= optId %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">IP</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= ip %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">字段名称</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= fieldName %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">值</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= val %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">PATH</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><% if(typeof path === 'undefined') {%>
                        <%} else {%>
                        <%= path %>
                        <%}%></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">操作人</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= createBy %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">操作时间</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= createDt %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">回调时间</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= callbackDT %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">同步状态</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <% if(syncResult) %>
                        成功
                        <% else { %>
                        失败 <% if(typeof errorCode === 'undefined') { } else {%>
                        <%= errorCode %>
                        <% } %>
                        <% } %>
                    </p>
                </div>
            </div>
        </form>
    </div>
</script>
