<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active">应用</li>
        <li class="active">$!{appDO.appName}</li>
    </ol>
</div>
<div class="col-md-12">
    <ul id="myTab" class="nav nav-tabs">
        #if($isOnline)
            <li #if($env=="uat") class="active" #end>
                <a href="#uat" data-env="uat" data-toggle="tab">
                    预发环境
                </a>
            </li>
            <li #if($env=="online") class="active" #end>
                <a href="#online" data-env="online" data-toggle="tab">
                    线上环境
                </a>
            </li>
        #else
            <li #if($env=="dev") class="active" #end>
                <a href="#dev" data-env="dev" data-toggle="tab">
                    开发环境
                </a>
            </li>
            <li #if($env=="sit") class="active" #end>
                <a href="#sit" data-env="sit" data-toggle="tab">
                    测试环境
                </a>
            </li>
        #end
    </ul>
    <br/>
    <br/>
    #if(${do_action} && ${do_action}=="managerAction" && ${do_method}
    && (${do_method}=="changeOneSwitchValue" || ${do_method} == "changeAllSwitchValue" ))
        <div>
            <div class="panel panel-info" id="optSyncPanel">
                <div class="panel-heading"><a href="#" class="close syncResultClose">
                    &times;
                </a>当前操作记录<button id="optSyncReflushBtn" type="button" class="btn btn-xs btn-default">手动刷新</button>
                </div>
                <table class="table" style="table-layout:fixed">
                    <thead>
                    <th>PATH</th>
                    <th>字段名</th>
                    <th>值</th>
                    <th>操作类型</th>
                    </thead>
                    <tbody id="operationRecordTbody">

                    </tbody>
                </table>
            </div>
            <div class="panel panel-info" id="switchValChangeSyncPanel">
                <div class="panel-heading"><a href="#" class="close syncResultClose">
                    &times;
                </a>当前更新记录<button id="switchValChangeSyncReflushBtn" type="button" class="btn btn-xs btn-default">手动刷新</button>
                </div>
                <table class="table" style="table-layout:fixed">
                    <thead>
                    <th>IP</th>
                    <th>字段名</th>
                    <th>值</th>
                    <th>PATH</th>
                    <th>回调时间</th>
                    <th>成功失败</th>
                    </thead>
                    <tbody id="switchValueChangeTbody">

                    </tbody>
                </table>
            </div>
        </div>
        <script>
            $(function () {
                var environMap = new Object();
                #foreach($member in $environMap.entrySet())
                    environMap["$member.key"] = "$member.value";
                #end

                //同步结果面板关闭事件
                $(".syncResultClose").on("click", function () {
                    $(this).parent().parent().hide();
                });

                var intervalObj = setInterval(loadUpdatePanel, 1000);
                var currentTimeStamp = new Date().getTime();

                function loadUpdatePanel() {

                    if ((new Date().getTime() - currentTimeStamp) > 5000) {
                        clearInterval(intervalObj);
                    }

                    //是否停止定时任务
                    if ($("#switchValChangeSyncPanel").css('display') == "none" &&
                            $("#optSyncPanel").css('display') == "none") {
                        clearInterval(intervalObj);
                    }
                    //当前操作记录
                    $.post("${ctxPath}/myswitch/mangerRest/getOptRecord", {
                        "appId": "$!{appDO.appId}",
                        "env": "$!{env}",
                        "optId": "$!{optId}"
                    }, function (data) {
                        if (data == undefined || data == null) {
                            return;
                        }

                        data.env = environMap[data.env];
                        if (data.path === undefined) {
                            data.path = undefined;
                        }
                        $('#operationRecordTbody').html(_.template($('#currentOptRecord_tpl').html())(data));
                    }, "json");

                    //当前更新记录
                    $.post("${ctxPath}/myswitch/mangerRest/getSwitchValueChangeByListOptId", {
                        "optId": "$!{optId}"
                    }, function (data) {
                        if (data == undefined || data == null) {
                            return;
                        }

                        $('#switchValueChangeTbody').html(_.template($('#switchValueChange_tpl2').html(), {variable: 'data'})(data));
                    }, "json");
                }

                loadUpdatePanel();

                $("#optSyncReflushBtn").click(loadUpdatePanel);
                $("#switchValChangeSyncReflushBtn").click(loadUpdatePanel);

            });
        </script>
        <script type="text/template" id="currentOptRecord_tpl">
            <tr>
                <td title="<% if(typeof path === 'undefined') {%>
                    <%} else {%>
                    <%= path %>
                    <%}%>" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                    <% if(typeof path === 'undefined') {%>
                    <%} else {%>
                    <%= path %>
                    <%}%>
                </td>
                <td title="<%= fieldName %>" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%=
                    fieldName %>
                </td>
                <td title="<%= val %>" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%= val %>
                </td>
                <td title="<% if(typeof path === 'undefined') {%>
                    同步所有
                    <%} else {%>
                    同步本机
                    <%}%>" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                    <% if(typeof path === 'undefined') {%>
                    同步所有
                    <%} else {%>
                    同步本机
                    <%}%>
                </td>
            </tr>
        </script>
        <script type="text/template" id="switchValueChange_tpl2">
            <% _.each(data, function(n){ %>
            <tr <% if(n.syncResult) %> class="success"  <% else { %>
            class="danger"
            <% } %> >
            <td title="<%= n.ip %>" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%= n.ip %></td>
            <td title="<%= n.fieldName %>" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%=
                n.fieldName %>
            </td>
            <td title="<%= n.val %>" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%= n.val %>
            </td>
            <td title="<%= n.path %>" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%= n.path %>
            </td>
            <td title="<%= n.callbackDT %>" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%=
                n.callbackDT %>
            </td>
            <td title="<% if(n.syncResult) %>
                成功
                <% else { %>
                失败
                <% } %>" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                <% if(n.syncResult) %>
                成功
                <% else { %>
                失败
                <% } %>
            </td>
            </tr>
            <% }); %>
        </script>
    #end

    <div>
        <table id="appIdEnvIpTable" class="table table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>IP</th>
                <th>路径</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #foreach($switchNode in $!switchNodeList)
                <tr>
                    <td>$velocityCount</td>
                    <td>${switchNode.nodeName}</td>
                    <td>${switchNode.allPath}</td>
                    <td style="text-align: center;">
                        <button type="button" class="btn btn-xs btn-info btn-edit launch"
                                data-nodeName="${switchNode.nodeName}|$velocityCount">展开
                        </button>
                    </td>
                </tr>
                <tr class="hide" data-nodeName="${switchNode.nodeName}|$velocityCount">
                    <td colspan="4">
                        <div>
                            <br/>
                            <table class="table table-bordered">
                                <thead>
                                <tr class="bg-success">
                                    <th>序号</th>
                                    <th>字段名</th>
                                    <th>值</th>
                                    <th>修改时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($switchData in $!switchNode.switchDataList)
                                    <tr>
                                        <td>$velocityCount</td>
                                        <td>$switchData.fieldName</td>
                                        <td>$switchData.value</td>
                                        <td>$switchData.currentDateTime</td>
                                        <td style="text-align: center">
                                            <button type="button" data-ipHost="$!{switchNode.nodeName}"
                                                    data-path="$!{switchNode.allPath}"
                                                    data-fieldName="$!{switchData.fieldName}"
                                                    data-val="$!{switchData.value}"
                                                    class="btn btn-xs btn-info btn-edit fieldChange">修改
                                            </button>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                #end
                #if(!${switchNodeList} || ${switchNodeList.size()} == 0)
                <tr>
                    <td colspan="4" style="text-align: center;">没有记录！</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="updateModalLabel">
                    编辑配置
                </h4>
            </div>
            <div class="modal-body" id="updateModalBody">
                <form class="form-horizontal" id="districtinfoForm" name="districtinfoForm" role="form"
                      method="post" action="${ctxPath}/manager/managerView.htm?appId=$!{appDO.appId}&env=$!{env}"
                      Accept-Encoding="utf-8"
                >
                    <input type="hidden" value="managerAction" name="do_action" id="do_action"/>
                    <input type="hidden" value="changeOneSwitchValue" name="do_method" id="do_method"/>
                ##                    <input type="hidden" value="$!{appDO.appId}" name="appId" id="appId"/>
                ##                    <input type="hidden" value="$!{env}" name="env" id="env" />
                    <div class="form-group">
                        <label for="ipHost" class="col-sm-3 control-label">IP</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ipHost" name="ipHost" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="path" class="col-sm-3 control-label">路径</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="path" name="path" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fieldName" class="col-sm-3 control-label">字段名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="fieldName" name="fieldName"
                                   readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group" id="jqgrid_defAppRunVersion_Panel">
                        <label for="val" class="col-sm-3 control-label">值</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="val" name="val"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="syncSigleBtn">同步本机</button>
                <button type="button" class="btn btn-primary" id="syncAllBtn">同步所有</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        //tab切换事件
        $("ul#myTab").delegate("li>a", "click", function () {
            var appid = $!{appDO.appId};
            var url = "${ctxPath}/manager/managerView.htm?appId=" + appid
            var env = $(this).attr("data-env");
            if (env != undefined) {
                url = url + "&env=" + env;
            }
            window.location.href = url;
        });

        //展开事件
        $("#appIdEnvIpTable").delegate("button.launch", "click", function () {
            var appIdEnvIpPanel = $(this).parent().parent().next();
            if (appIdEnvIpPanel.hasClass("hide")) {
                appIdEnvIpPanel.removeClass("hide");
                $(this).text("关闭");
                $(this).removeClass("btn-info").addClass("btn-warning");
            } else {
                appIdEnvIpPanel.addClass("hide");
                $(this).text("展开");
                $(this).removeClass("btn-warning").addClass("btn-info");
            }
        });

        //修改事件
        $("#appIdEnvIpTable").delegate("button.fieldChange", "click", function () {
            $("#ipHost").val($(this).attr("data-ipHost"));
            $("#path").val($(this).attr("data-path"));
            $("#fieldName").val($(this).attr("data-fieldName"));
            $("#val").val($(this).attr("data-val"));
            $("#updateModal").modal('show');
        });

        //同步本机
        $("#syncSigleBtn").on("click", function () {
            $("#do_method").val("changeOneSwitchValue");
            $("#districtinfoForm").submit();
        });

        //同步所有
        $("#syncAllBtn").on("click", function () {
            $("#do_method").val("changeAllSwitchValue");
            $("#districtinfoForm").submit();
        });
    });
</script>
