<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active">应用</li>
        <li class="active">$!{appDO.appName}</li>
    </ol>
</div>
<div class="col-md-12">
    <ul id="myTab" class="nav nav-tabs">
        #if($isOnline)
            <li #if($env=="uat") class="active" #end>
                <a href="#uat" data-env="uat" data-toggle="tab">
                    预发环境
                </a>
            </li>
            <li #if($env=="online") class="active" #end>
                <a href="#online" data-env="online" data-toggle="tab">
                    线上环境
                </a>
            </li>
        #else
            <li #if($env=="dev") class="active" #end>
                <a href="#dev" data-env="dev" data-toggle="tab">
                    开发环境
                </a>
            </li>
            <li #if($env=="sit") class="active" #end>
                <a href="#sit" data-env="sit" data-toggle="tab">
                    测试环境
                </a>
            </li>
        #end
    </ul>
    <br/>
    <br/>
    <table id="appIdEnvIpTable" class="table table-bordered">
        <thead>
        <tr>
            <th>序号</th>
            <th>IP</th>
            <th>路径</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($switchNode in $!switchNodeList)
            <tr>
                <td>$velocityCount</td>
                <td>${switchNode.nodeName}</td>
                <td>${switchNode.allPath}</td>
                <td style="text-align: center;">
                    <button type="button" class="btn btn-xs btn-info btn-edit launch"
                            data-nodeName="${switchNode.nodeName}|$velocityCount">展开
                    </button>
                </td>
            </tr>
            <tr class="hide" data-nodeName="${switchNode.nodeName}|$velocityCount">
                <td colspan="4">${switchNode.nodeName}</td>
            </tr>
            #end
        </tbody>
    </table>
</div>

<script>
    $(function () {
        //tab切换事件
        $("ul#myTab").delegate("li>a", "click", function () {
            var appid = $!{appDO.appId};
            var url = "${ctxPath}/manager/managerView.htm?appId=" + appid
            var env = $(this).attr("data-env");
            if (env != undefined) {
                url = url + "&env=" + env;
            }
            window.location.href = url;
        });

        //展开事件
        $("#appIdEnvIpTable").delegate("button.launch", "click", function () {
            var appIdEnvIpPanel = $(this).parent().parent().next();
            if (appIdEnvIpPanel.hasClass("hide")) {
                appIdEnvIpPanel.removeClass("hide");
                $(this).text("关闭");
            } else {
                appIdEnvIpPanel.addClass("hide");
                $(this).text("展开");
            }
        });
    });
</script>
