<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active">监控</li>
        <li class="active">查看操作记录</li>
    </ol>
</div>
<div class="col-md-12">
    <div style="margin:20px">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    操作概况
                </h4>
            </div>
            <div class="modal-body" id="myModalBody" style="word-break:break-all; word-wrap:break-all;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    $(function () {
        $.jgrid.defaults.width = $("#jqGrid").parent().width();
        var environMap = new Object();
        #foreach($member in $environMap.entrySet())
            environMap["$member.key"] = "$member.value";
        #end

        $("#jqGrid").jqGrid({
            url: '${ctxPath}/myswitch/mangerRest/getOptRecordList',
            mtype: "POST",
            styleUI: 'Bootstrap',
            datatype: "jsonp",
            colModel: [
                {
                    label: '应用', name: 'appName', sortable: false
                },
//                {
//                    label: '环境', name: 'env', sortable: false, width:"90px", formatter:function (cellvalue, options, rowObject) {
//                    return environMap[cellvalue];
//                }
//                },
                {
                    label: '操作内容', name: 'optId', formatter: function (cellvalue, options, rowObject) {
                    return rowObject.fieldName + "值改成" + rowObject.val;
                }, sortable: false
                },
//                {
//                    label: 'PATH', name: 'path', sortable: false
//                },
                {label: '操作时间', name: 'createDt', sortable: false},
                {label: '操作人', name: 'createBy', width: "100px", sortable: false},
                {
                    label: '操作', name: 'optId', width: "80px", formatter: function (cellvalue, options, rowObject) {
                    return " <button type='button' class='btn btn-xs btn-info btn-view'" +
                            "data-optId='" + rowObject.optId + "' " +
                            ">查看</button>"
                            + " <button type='button' class='btn btn-xs btn-success btn-detail' " +
                            "data-appId='" + rowObject.appId + "' " +
                            "data-env='" + rowObject.env + "' " +
                            "data-optId='" + rowObject.optId + "' " +
                            ">概况</button>"
                            ;
                }, sortable: false
                }
            ],
            viewrecords: true,
            height: "auto",
            rowNum: 20,
            rownumbers: true,
            autowidth: true,
            shrinkToFit: true,
            pager: "#jqGridPager"
        });

        $("#jqGrid").closest(".ui-jqgrid-bdiv").css({'overflow-x': 'hidden'});

        $(window).resize(function () {          //当浏览器大小变化时
            $("#jqGrid").setGridWidth($("ol.breadcrumb").width());
        });

        //概况事件
        $("#jqGrid").delegate(".btn-detail", "click", function () {
            var appId = $(this).attr("data-appId");
            var env = $(this).attr("data-env");
            var optId = $(this).attr("data-optId");
            $.post("${ctxPath}/myswitch/mangerRest/getOptRecord", {
                "appId": appId,
                "env": env,
                "optId": optId
            }, function (data) {
                data.env = environMap[data.env];
                $('#myModalBody').html(_.template($('#tpl').html())(data));
                $("#myModal").modal("show");
            }, "json");
        });

        //查看事件
        $("#jqGrid").delegate(".btn-view", "click", function () {
            var optId = $(this).attr("data-optId");
            $.post("${ctxPath}/myswitch/mangerRest/getSwitchValueChangeByListOptId", {
                "optId": optId
            }, function (data) {
                $('#myModalBody').html(_.template($('#tpl2').html(), {variable: 'data'})(data));
                $("#myModal").modal("show");
            }, "json");
        });

    });
</script>
<script type="text/template" id="tpl">
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">应用ID</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= appId %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">应用名称</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= appName %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">环境</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= env %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">操作ID</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= optId %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">PATH</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><% if(typeof path === 'undefined') {%>
                        同步所有
                        <%} else {%>
                        <%= path %>（同步本机）
                        <%}%></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">字段名</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= fieldName %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">值</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= val %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">操作人</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= createBy %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">操作时间</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= createDt %></p>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/template" id="tpl2">
    <table class="table table-striped">
        <caption>机器同步结果</caption>
        <thead>
        <tr>
            <th>IP</th>
            <th>字段名</th>
            <th>值</th>
            <th>PATH</th>
            <th>成功失败</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(data, function(n){ %>
        <tr>
            <td><%= n.ip %></td>
            <td><%= n.fieldName %></td>
            <td><%= n.val %></td>
            <td><%= n.path %></td>
            <td>
                <% if(n.syncResult) %>
                成功
                <% else { %>
                失败
                <% } %>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>