<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active">监控</li>
        <li class="active">查看操作记录</li>
    </ol>
</div>
<div class="col-md-12">
    <div style="margin:20px">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script>
    $(function () {
        $.jgrid.defaults.width = $("#jqGrid").parent().width();
        var environMap = new Object();
        #foreach($member in $environMap.entrySet())
            environMap["$member.key"]="$member.value";
        #end

        $("#jqGrid").jqGrid({
            url: '${ctxPath}/myswitch/mangerRest/getOptRecordList',
            mtype: "POST",
            styleUI: 'Bootstrap',
            datatype: "jsonp",
            colModel: [
                {
                    label: '应用', name: 'appName', sortable: false
                },
                {
                    label: '环境', name: 'env', sortable: false, width:"90px", formatter:function (cellvalue, options, rowObject) {
                    return environMap[cellvalue];
                }
                },
                {
                    label: '操作内容', name: 'optId', formatter: function (cellvalue, options, rowObject) {
                    return rowObject.fieldName + "值改成" + rowObject.val;
                }, sortable: false
                },
                {
                    label: 'PATH', name: 'path', sortable: false
                },
                {label: '操作时间', name: 'createDt', sortable: false},
                {label: '操作人', name: 'createBy', width:"100px", sortable: false},
                {
                    label: '操作', name: 'optId', width:"80px", formatter: function (cellvalue, options, rowObject) {
                    return " <button type='button' class='btn btn-xs btn-info btn-edit'>查看</button>";
                }, sortable: false
                }
            ],
            viewrecords: true,
            height: "auto",
            rowNum: 20,
            rownumbers: true,
            autowidth: true,
            shrinkToFit: true,
            pager: "#jqGridPager"
        });

        $("#jqGrid").closest(".ui-jqgrid-bdiv").css({'overflow-x': 'hidden'});

        $(window).resize(function () {          //当浏览器大小变化时
            $("#jqGrid").setGridWidth($("ol.breadcrumb").width());
        });
    });
</script>